/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .navigation
    .top-navigation
      .search
        .form-group
          button
            float: none
            margin-top: 0
      .left li a
        text-transform: none
    .main-navigation
      .brand
        padding: 30px 15px
    .page-navigation
      ul
        padding-left: 15px
        li
          margin: 0 30.7px
          width: auto
          a
            color: #fff
            &:hover
              border-color: $accent-color
    .navbar-collapse
      background: transparent
      padding: 0

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .navigation
    .page-navigation
      ul li
        margin: 0 55.7px
