// Colors
$accent-color: #00b2ba

// Typography
$font-family-sans-serif: "Roboto", sans-serif

// Iconography
$icon-font-path: "../fonts/vendor/bootstrap"
$fa-font-path: "../fonts/vendor/font-awesome"

// Grid System
$grid-float-breakpoint: 992px

// Inverted navbar
$navbar-inverse-bg: #333
