<div id="hero-photos" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#hero-photos" data-slide-to="0" class="active"></li>
    <li data-target="#hero-photos" data-slide-to="1"></li>
    <li data-target="#hero-photos" data-slide-to="2"></li>
    <li data-target="#hero-photos" data-slide-to="3"></li>
    <li data-target="#hero-photos" data-slide-to="4"></li>
    <li data-target="#hero-photos" data-slide-to="5"></li>
    <li data-target="#hero-photos" data-slide-to="6"></li>
    <li data-target="#hero-photos" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero2.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
    <div class="item">
      <div class="photo" style="background-image: url(images/hero1.jpg);"></div>
    </div>
  </div>
</div>
