<nav class="navigation" role="navigation">
  <div class="main-navigation visible-sm visible-xs">
    <div class="container">
      <button type="button" data-toggle="collapse" data-target="#collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="brand"><img src="images/logo.png" alt="Insights" /></a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="collapsible">
    <div class="top-navigation">
      <div class="container">
        <ul class="left">
          <li><a href="">My Account</a></li>
          <li><a href="">0 Items in Wishlist</a></li>
        </ul>
        <form class="search hidden-sm hidden-xs">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit"><i class="fa fa-caret-right"></i></button>
          </div>
        </form>
        <ul class="right hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="main-navigation hidden-sm hidden-xs">
      <div class="container">
        <a href="" class="brand">
          <img src="images/logo.png" alt="Insights" />
          <p>Lorem ipsum dolor sit amet ipsum</p>
        </a>
      </div>
    </div>
    <div class="page-navigation">
      <div class="container">
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">New Products</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Wishlist</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Resources</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Agent Locator</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
