<footer>
  <div class="container">
    <img class="brand" src="assets/logo-big.png" alt="Insight" />
    <div class="row">
      <div class="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ispum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit incididunt ut labore amet incididunt incididunt ut labore ut labore.</p>
      </div>
      <div class="links">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="about">About</a></li>
              <li><a href="products">Products</a></li>
              <li><a href="new-products">New Products</a></li>
              <li><a href="projects">Projects</a></li>
              <li><a href="favorites">Favorites</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="news">News</a></li>
              <li><a href="resources">Resources</a></li>
              <li><a href="contact-us">Contact Us</a></li>
              <li><a href="agent-locator">Agent Locator</a></li>
              <li><a href="careers">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="newsletter">
        <form class="signup">
          <label>Sign up for our <strong>Newsletter</strong></label>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address" />
            <button type="submit" class="btn btn-default"><i class="fa fa-caret-right"></i></button>
          </div>
        </form>
        <ul class="social-links">
          <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>Powered by litebe &copy; Target Source Media Group LLC <br>Website Design and Development by: Target Source Media Group</p>
    </div>
  </div>
</footer>
