<div class="col-md-4 col-sm-6">
  <img src="assets/thumbnail1.png" class="img-responsive" />
  <h4>Title of Position</h4>
  <p>Magna voluptate anim sit reprehenderit cupidatat Lorem officia tempor. Duis nisi magna et sit in elit qui adipisicing eu aliqua. Do dolore laboris tempor do velit ea adipisicing tempor elit consequat ullamco amet et.</p>
  <p class="clearfix">
    <a href="" class="btn btn-primary pull-left">Download PDF</a>
    <a href="" class="btn btn-primary pull-right">Apply</a>
  </p>
  <br><br>
</div>
