<!--(bake layouts/head.html title="About - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<!--(bake components/hero-photos.html active-photo="about")-->

<main>
  <section>
    <div class="container">
      <h1>History of Insight</h1>
      <div class="row">
        <div class="col-md-7">
          <p>Incididunt dolor occaecat ex veniam aliquip deserunt deserunt enim cupidatat voluptate ipsum aute quis. Nulla esse aliquip id elit dolor quis incididunt Lorem est velit culpa labore Lorem aliqua esse excepteur. Ex ut esse dolore reprehenderit et esse pariatur ea laboris ullamco sint dolore eiusmod cupidatat mollit quis consequat. Proident ex consectetur esse do aute dolor tempor quis officia velit excepteur cillum in aliquip. Consequat fugiat laboris proident ipsum fugiat do quis ad elit. Officia minim proident deserunt in sit cillum dolor officia mollit eu laborum occaecat. Cillum eiusmod ea laboris esse aute exercitation laborum fugiat nostrud.</p>
          <p>Amet excepteur et et elit dolor adipisicing dolore ex est amet eiusmod. Commodo enim minim anim anim fugiat minim et ea et commodo labore dolor anim voluptate. Amet nulla sunt esse aliquip exercitation excepteur dolore ullamco occaecat laborum in. Eu minim esse veniam ipsum laborum Lorem nulla. Amet aliquip incididunt elit minim voluptate sunt do. Eu sit eiusmod tempor cillum anim irure culpa velit. Nostrud do sunt nostrud eiusmod ad magna amet sint adipisicing voluptate cupidatat nulla duis Lorem labore proident elit. Exercitation Lorem id laboris enim ipsum velit in ad mollit ipsum anim et quis enim minim anim anim fugiat minim et ea et commodo labore dolor anim voluptate.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/thumbnail2.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Insight Manufacturing</h2>
      <p>Voluptate ea mollit sint irure officia aliqua nostrud ipsum consectetur et velit magna non enim mollit exercitation. Culpa amet ex deserunt veniam aliqua incididunt irure enim magna magna commodo nostrud exercitation aute consequat veniam fugiat. Amet in esse eiusmod anim duis eu sit consectetur esse consequat ea anim elit. Reprehenderit duis officia mollit cupidatat officia est voluptate minim velit anim magna.</p>
      <div class="about-slider">
        <div class="slides">
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
          <div>
            <img data-lazy="assets/thumbnail1.png" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
