<!--(bake layouts/head.html title="Project Single - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<!--(bake components/hero-photos.html active-photo="default")-->
<main>
  <section>
    <div class="container">
      <h1>Insight Careers</h1>
      <div class="row">
        <div class="col-md-6">
          <p>Ullamco quis eiusmod ea mollit cupidatat cupidatat elit nisi qui pariatur laboris tempor amet. Magna in enim aliqua Lorem dolore et consectetur eu ipsum ea dolor. Amet id cupidatat sint reprehenderit consectetur minim dolore ad veniam. Qui ut cillum sit aliquip non cillum deserunt deserunt. Velit veniam sint exercitation consequat duis magna consectetur magna tempor nisi do duis voluptate pariatur ullamco.</p>
          <p>Ea ad quis velit proident esse aliqua excepteur veniam reprehenderit. Nisi Lorem cupidatat do laborum sit nostrud excepteur esse. Sint sit dolore enim dolore voluptate eiusmod enim aute ullamco adipisicing sunt est.</p>
          <p>Elit consequat proident occaecat in deserunt labore proident nulla irure. Elit cillum voluptate fugiat voluptate cillum voluptate ullamco occaecat adipisicing incididunt sunt deserunt aliquip ex. Ut aute qui excepteur veniam exercitation do tempor ullamco ut mollit. Amet ut consectetur adipisicing dolor magna id aliqua nulla officia amet occaecat voluptate ipsum reprehenderit. Nostrud commodo deserunt laboris pariatur proident eiusmod eiusmod consequat. Laborum sunt esse pariatur dolore cupidatat dolor voluptate dolor adipisicing minim.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/thumbnail1.png" class="img-responsive" width="100%" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Open Positions</h2>
      <p>Officia commodo dolore et reprehenderit aute veniam proident pariatur. Id ex irure proident magna dolor esse in cillum in commodo aliqua laborum occaecat consequat. Incididunt dolore irure dolor veniam dolore ad enim in ea proident sit qui aliqua anim adipisicing culpa pariatur. Laborum sint sunt nisi velit mollit magna mollit cupidatat irure qui sint qui anim cupidatat aliqua eu enim. Nulla esse esse eiusmod aute cillum consectetur incididunt Lorem ad sint magna nulla.</p>
      <div class="row">
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
        <!--(bake components/position.html)-->
      </div>
    </div>
  </section>
</main>
<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
