<!--(bake layouts/head.html title="Project Single - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<!--(bake components/hero-photos.html active-photo="default")-->
<main>
  <section class="favorites-page">
    <div class="container">
      <div class="well">
        <form>
          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary btn-block btn-input">
                <h3>Upload Logo</h3>
                <small>by clicking here or dragging and dropping your logo.</small>
              </button>
              <input type="file" class="hide">
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Your Full Name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Recepient Full Name" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" placeholder="Your Email Address" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" placeholder="Recepient Email Address" class="form-control">
                  </div>
                </div>
              </div>
              <textarea class="form-control" rows="3" placeholder="Message to Recepient"></textarea>
            </div>
            <div class="col-md-2">
              <br class="visible-sm visible-xs">
              <input type="submit" class="btn btn-primary btn-block" value="Send Favorite">
            </div>
          </div>
        </form>
      </div>
      <h2>Items in Your Favorites <a href="" class="btn btn-primary pull-right">Download PDF</a></h2>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="assets/thumbnail1.png" class="img-responsive" />
          <br>
        </div>
      </div>
    </div>
  </section>
</main>
<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
