<!--(bake layouts/head.html title="Product Single - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<main>
  <section class="product-single">
    <div class="container">
      <div class="head">
        <h1>Product Name <br><small>Oklahoma City, OK</small></h1>
        <div id="product-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#product-slider" data-slide-to="0" class="active"></li>
            <li data-target="#product-slider" data-slide-to="1"></li>
            <li data-target="#product-slider" data-slide-to="2"></li>
            <li data-target="#product-slider" data-slide-to="3"></li>
            <li data-target="#product-slider" data-slide-to="4"></li>
            <li data-target="#product-slider" data-slide-to="5"></li>
            <li data-target="#product-slider" data-slide-to="6"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
            <div class="item">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
            <div class="item">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
            <div class="item">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
            <div class="item">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
            <div class="item">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
            <div class="item">
              <img src="assets/product/1.jpg" class="img-responsive" />
            </div>
          </div>
        </div>
        <div class="clearfix">
          <ul class="pull-left nav nav-pills social-media">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <button class="btn pull-right add-to-favorites" type="button" data-toggle="button">
            Add to Favorites
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="row details">
        <div class="col-md-4">
          <h2>Features & Benefits</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt.</li>
            <li>Lorem ipsum dolor sit amet, consectetur sed do adipisicing elit, sed do eiusmod</li>
            <li>Lorem ipsum dolor sit amet, consectetur sed do adipisicing elit</li>
            <li>Lorem ipsum dolor sit amet. consectetur sed do adipisicing elit, sed do</li>
          </ul>
        </div>
        <div class="col-md-8">
          <h2>Product Name</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="media">
            <div class="media-left">
              <label>Available Colors:</label>
            </div>
            <div class="media-body">
              <ul class="colors nav nav-pills">
                <li><i style="color: #CD0700;" class="fa fa-circle"></i></li>
                <li><i style="color: #0101FF;" class="fa fa-circle"></i></li>
                <li><i style="color: #00CCCB;" class="fa fa-circle"></i></li>
              </ul>
            </div>
          </div>
          <div class="media optics">
            <div class="media-left">
              <label>Available Optics:</label>
            </div>
            <div class="media-body text-center">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/optic1.png" width="100%" class="img-responsive" />
                  20&deg; Narrow
                </div>
                <div class="col-md-3">
                  <img src="assets/optic2.png" width="100%" class="img-responsive" />
                  40&deg; Medium
                </div>
                <div class="col-md-3">
                  <img src="assets/optic3.png" width="100%" class="img-responsive" />
                  60&deg; Wide
                </div>
                <div class="col-md-3">
                  <img src="assets/optic4.png" width="100%" class="img-responsive" />
                  80&deg; Super Wide
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="downloads">
        <h2>Downloads</h2>
        <div class="row">
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-image-o"></i>
              <h4>Image</h4>
              <small>1.2mb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-pdf-o"></i>
              <h4>Product Brochure</h4>
              <small>573kb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-o"></i>
              <h4>IES Files</h4>
              <small>7.32mb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-zip-o"></i>
              <h4>Revit Files</h4>
              <small>1.3mb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-pdf-o"></i>
              <h4>Spec Sheet</h4>
              <small>1.2mb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-pdf-o"></i>
              <h4>Installation Instructions</h4>
              <small>1573kb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-pdf-o"></i>
              <h4>Witing Diagram</h4>
              <small>7.32mb - Download</small>
            </a>
          </div>
          <div class="col-md-3">
            <a href="" class="well">
              <i class="fa fa-file-o"></i>
              <h4>IES Files</h4>
              <small>1.3mb - Download</small>
            </a>
          </div>
        </div>
      </div>
      <div class="related">
        <h2>Related Products</h2>
        <!--(bake components/product.html
          product-names="[
            'Product 1',
            'Product 2',
            'Product 3',
            'Product 4'
          ]"
          grid="3"
        )-->
      </div>
      <div class="related">
        <h2>Related Projects</h2>
        <!--(bake components/product.html
          product-names="[
            'Project 1',
            'Project 2',
            'Project 3',
            'Project 4'
          ]"
          grid="3"
        )-->
      </div>
      <div class="configurator">
        <h2>Product Configurator</h2>
        <ul class="nav nav-pills">
          <li><a href="">Download</a></li>
          <li><a href="">Share</a></li>
          <li>
            <a href="">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse hide"></i>
              </span>
            </a>
          </li>
        </ul>
        <div class="product-code">
          <div class="well">
            <h3>Your Product Code</h3>
            <p>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
              <span>____</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="well">
              <h3>Family</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/fam1.png" width="100%" class="img-responsive" />
                  Family 1
                </div>
                <div class="col-md-6">
                  <img src="assets/fam2.png" width="100%" class="img-responsive" />
                  Family 2
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <h3>Wattage</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/watts1.png" width="100%" class="img-responsive" />
                </div>
                <div class="col-md-6">
                  <img src="assets/watts2.png" width="100%" class="img-responsive" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <h3>Color Temperature</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/temp1.png" width="100%" class="img-responsive" />
                  2700K
                </div>
                <div class="col-md-6">
                  <img src="assets/temp2.png" width="100%" class="img-responsive" />
                  3000K
                </div>
                <div class="col-md-6">
                  <img src="assets/temp3.png" width="100%" class="img-responsive" />
                  3500K
                </div>
                <div class="col-md-6">
                  <img src="assets/temp4.png" width="100%" class="img-responsive" />
                  4000K
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <h3>Optics</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/optic1.png" width="100%" class="img-responsive" />
                  20&deg; Narrow
                </div>
                <div class="col-md-6">
                  <img src="assets/optic2.png" width="100%" class="img-responsive" />
                  40&deg; Medium
                </div>
                <div class="col-md-6">
                  <img src="assets/optic3.png" width="100%" class="img-responsive" />
                  60&deg; Wide
                </div>
                <div class="col-md-6">
                  <img src="assets/optic4.png" width="100%" class="img-responsive" />
                  80&deg; Super Wide
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="well">
              <h3>Voltage</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/volts1.png" width="100%" class="img-responsive" />
                </div>
                <div class="col-md-6">
                  <img src="assets/volts2.png" width="100%" class="img-responsive" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <h3>Mounting Options</h3>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/mounting1.png" width="100%" class="img-responsive" />
                  Recessed
                </div>
                <div class="col-md-6">
                  <img src="assets/mounting2.png" width="100%" class="img-responsive" />
                  External
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
