<!--(bake layouts/head.html title="Projects - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<!--(bake components/hero-photos.html active-photo="projects")-->
<main>
  <section>
    <div class="container">
      <!--(bake components/filter.html
        filter1="Choose a Luminaire Type"
          option1s="['Interior','Exterior']"
        filter2="Choose an Application"
          option2s="['Linear Architectural','Cove','Asymmetric','Facade/Flood','Light Pipe Systems','Edge Lighting Systems','Specialty Lighting','Controls','Power Supplies & Wiring Accessories']"
        filter3="Choose a LED Color"
          option3s="['White & Static Colors','Active White (Tunable)','Color Changing']"
        filter4="Choose a Product Family <span class='hidden-md'>& Code</span>"
          option4s="['Action']"
      )-->
      <div class="project-list">
        <div class="cluster">
          <h2>Insight Lighting Projects <a href="" class="pull-right"><small>Back to Top</small></a></h2>
          <!--(bake components/project.html
            project-names="[
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project',
              'Project'
            ]"
          )-->
        </div>
      </div>
    </div>
  </section>
</main>
<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
