<!--(bake layouts/head.html title="Resources - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<!--(bake components/hero-photos.html active-photo="resources")-->
<main>
  <section>
    <div class="container">
      <h1>Resources</h1>
      <div class="row">
        <div class="col-md-7">
          <p>Nostrud cillum exercitation id esse enim ipsum sint tempor non ipsum qui quis eiusmod qui nulla pariatur. Proident ullamco tempor et culpa minim irure quis. Minim veniam quis aliqua velit consectetur commodo esse veniam cupidatat commodo ea commodo labore proident.</p>
          <p>Culpa ipsum fugiat nulla enim Lorem elit mollit consequat enim sunt consectetur nulla mollit sint deserunt. Amet aliquip velit sit officia culpa esse irure ad incididunt ea nulla. Exercitation aliquip dolore velit dolor ea adipisicing est in qui aute dolore consectetur fugiat. Ex ea irure sint incididunt veniam nisi culpa sint irure est velit laborum consequat ea. Adipisicing eiusmod irure consectetur Lorem deserunt cillum labore. Adipisicing commodo eiusmod fugiat aliquip laboris veniam cillum labore duis exercitation proident eu ea ipsum mollit qui fugiat.</p>
          <p>Dolor qui irure ullamco consequat dolor ea consequat anim incididunt adipisicing duis culpa laboris laboris. Aliquip sint officia commodo commodo occaecat exercitation tempor proident in anim veniam eu do fugiat do.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/thumbnail1.png" class="img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>CEU University</h2>
      <div class="row">
        <div class="col-md-7">
          <p>Tempor sit ex fugiat deserunt consequat ea voluptate eu reprehenderit aliquip minim ullamco deserunt irure exercitation. Consectetur adipisicing commodo sit eiusmod est irure cillum ut dolor reprehenderit deserunt. Id fugiat aute aute commodo nostrud sit et occaecat adipisicing labore labore. Nulla elit voluptate excepteur do minim elit qui nulla aute laboris proident nulla adipisicing sint deserunt est commodo. Veniam laboris consectetur magna irure occaecat ut magna ipsum. Exercitation exercitation commodo et mollit ex eu eu ad incididunt nostrud deserunt reprehenderit nulla tempor excepteur ad. Nostrud cupidatat tempor ad tempor ut aliqua commodo eiusmod. Pariatur consequat ut incididunt dolor irure dolor ex ut tempor.</p>
          <p>Cillum mollit minim occaecat magna tempor cillum et esse nisi non est cupidatat deserunt qui. Voluptate voluptate incididunt anim esse laborum et excepteur voluptate nostrud sint. Consequat ad proident labore enim pariatur eiusmod incididunt fugiat proident velit deserunt excepteur. Sunt pariatur duis duis eu minim Lorem fugiat tempor labore ullamco dolore Lorem ut proident labore in occaecat. Velit excepteur Lorem nostrud in officia eiusmod duis id. Est culpa mollit minim excepteur velit deserunt non incididunt ea sunt adipisicing aute aliquip. Officia dolore cillum non quis elit qui anim aute. Ullamco cupidatat et tempor cillum proident exercitation proident do aliqua mollit. Ullamco cupidatat et tempor cillum proident exercitation proident do aliqua mollit.</p>
          <p><a href="" class="btn btn-primary">Register Today!</a></p>
        </div>
        <div class="col-md-5">
          <img src="assets/thumbnail3.png" class="img-responsive">
          <h5>Lorem Ipsum</h5>
          <p>Ullamco cupidatat et tempor cillum proident exercitation proident do aliqua mollit. Do aliquip minim laborum laboris et ad in pariatur.</p>
          <p><a href="" class="btn btn-primary">Download</a></p>
        </div>
      </div>
    </div>
  </section>
  <!--(bake components/content-slider.html
    title="Insight Videos"
    call-to-actions="['','','','']"
    hide="hide"
  )-->
  <!--(bake components/content-slider.html
    title="Project of the Month"
    call-to-actions="['View Project','View Project','View Project','View Project','View Project','View Project']"
    isphoto="hide"
  )-->
  <!--(bake components/content-slider.html
    title="Marketing Tools"
    call-to-actions="['Download','Download','View','Download','Download','View','Download','Download']"
    isphoto="hide"
  )-->
</main>
<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
