<!--(bake layouts/head.html title="Project Single - Insight Lighting")-->
<!--(bake components/navigation.html)-->
<!--(bake components/hero-photos.html active-photo="default")-->
<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>Insight Videos</h1>
          <p>Laboris duis cillum in excepteur excepteur et dolor consectetur duis eiusmod sint veniam esse culpa. Ea dolor velit consequat aliqua occaecat elit nulla mollit duis quis id velit aliquip deserunt. Duis excepteur sit officia qui enim anim velit est laboris ut aute consectetur nisi enim est. Commodo officia et eiusmod deserunt nulla anim non in incididunt do reprehenderit in ad. Et occaecat proident Lorem esse ipsum proident sit ut esse tempor aliquip. Aliqua dolor dolore minim aliqua cupidatat in voluptate qui Lorem velit ullamco reprehenderit amet id Lorem non ex. Aliquip non sint incididunt exercitation cillum dolore velit. Pariatur tempor id nostrud velit nostrud veniam consequat quis aute enim.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!--(bake components/video.html
            paragraph="<p>Aliquip duis officia sint fugiat sint velit occaecat velit anim nulla mollit ipsum ut irure cillum Lorem incididunt. Proident culpa sunt esse amet velit officia commodo minim culpa. Amet irure laboris et voluptate Lorem tempor proident non ex anim occaecat duis ad. Qui anim ipsum commodo aute quis officia occaecat ex anim incididunt cillum enim occaecat sit proident.</p>"
          )-->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--(bake components/video.html
            paragraph="<p>Cillum voluptate Lorem aliquip ipsum mollit officia consequat irure anim.</p>"
          )-->
        </div>
      </div>
    </div>
  </section>
</main>
<!--(bake components/footer.html)-->
<!--(bake layouts/foot.html)-->
